
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(57.4deg, rgb(249, 206, 183) 4.6%, rgb(234, 174, 202) 26%, rgb(210, 182, 226) 49.1%, rgb(173, 209, 242) 86.5%);
}

#title {
  text-align: center;
  margin-top: 50px;
  font-family: Dongle-bold;
  font-size: 2.7rem;
  font-style: italic;
}

.nav {
  background-color: black;
  display: flex;
}

.nav a {
  float: left;
  display: flex;
  color: white;
  text-align: right;
  padding: 14px 16px;
  font-size: large;
  border-bottom: 3px solid transparent;
}

.nav a:hover {
  cursor: pointer;
  background-color: rgb(227, 156, 189);
}

.contact-info li a {
  color: black;
  text-decoration: none;

}

.form-group {
  margin: 20px;
  padding-left: 20px;
  margin-left: 20vh;
  font-style: italic;
}

form button {
  margin-left: 54vh;
  font-style: italic;
  margin-bottom: 1vh;

}

button:hover {
  transform: scale(1.2);
}

.foot {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 20px 0;

}

.footlinks li a {
  color: white;
}

.social a {
  margin: 4px;
  height: 40px;
  width: 40px;
  display: inline-flex;
  border-radius: 20px;
}

.social a:hover {
  transform: scale(1.2);
}
.footerend {
    margin-top: 90px;
}

.title {
    text-align: center;
    color: white;
    margin-top: 62px;
    padding-right: 32px;
}

.row {
    display: flex;
}

.column {
    flex: 33%;
    padding: 8px;
    border-style: groove;

}

.container {
    display: flex;
    justify-content: space-evenly;
}

.box2 {
    flex: 30%;
    margin-left: 70px;
    margin-right: 70px;

}

.text-container {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 97rem;
    background-color: rgb(41, 41, 41, 0.8);
    padding: 1rem;
}

.text1 {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 97rem;
    background-color: rgb(41, 41, 41, 0.8);
    padding: 1rem;
}

.text2 {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 97rem;
    background-color: rgb(41, 41, 41, 0.8);
    padding: 1rem;
}

.location {
    display: flex;
    justify-content: space-evenly;
}

.col-content img {
    width: 237px;
    height: 268px;
}

.col-content {
    border-style: groove;
    
}

.col-content:hover {
    transform: scale(1.1);
}


.center {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.centerimage img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.package-content {
    display: flex;
    justify-content: space-evenly;


}

.dest-content {
    border-style: groove;
}

.containerp {
    margin-right: 60px;
    margin-bottom: 100px;
    margin-left: 60px;
}

.boxp {
    border-style: groove;
    border-radius: 18px;
    width: 302px;
    height: 627px;

}

.boxp img {
    width: 100%;
    height: 400px;
    border-radius: 18px;

}

.imagep:hover {
    transform: scale(1.1);
}

#titlep {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
    font-family: Dongle-bold;
    font-size: 2.8rem;
    font-style: italic;
}
.title2 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: Dongle-bold;
    font-style: italic;
    font-size: 1.2rem;
}

.about {
    width: 100%;
    padding: 50px 0px;
}

.about img {
    height: auto;
    width: 400px;
}

.abt-text {
    width: 500px;
    
}

.abt-text h1 {
    font-size: 70px;
    color: white;
    margin-bottom: 20px;

}

.abt-text h1 span {
    color: #fc0050;
}

.abt-text p {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: 45px;
    line-height: 30px;
    font-family: Dongle-regular;
    font-style: italic;
    
}

.main {
    width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.abt-text2 {
    width: 500px;
}

.abt-text2 h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
}

.abt-text2 p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Dongle-regular;
    font-style: italic;
}
.abt-text2 li{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Dongle-regular;
    font-style: italic;
}
.aboutm {
    width: 100%;
    padding: 50px 0px;
}

.aboutm img {
    height: auto;
    width: 400px;
}

.abt-textm {
    width: 500px;
    
}
.abt-textm p {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: 45px;
    line-height: 30px;
    font-family: Dongle-regular;
    font-style: italic;
    
}
.mainm {
    width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
